{% extends 'BackEndBundle::index.html.twig' %}

{% block table -%}
    <h1>Review list</h1>
    <a class="btn btn-danger" href="{{ path('product_index') }}">Product List</a>
    <a class="btn btn-success" href="{{ path('review_new',{'id':0,'id_prod':id_prod}) }}">Create Review</a>
    <br>
    <br>
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Start</th>
                <th>Coment</th>
                <th>Email</th>
                <th>Public</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
                <tr>
                    <td>{{ review.name }}</td>
                    <td>{% if review.date %}{{ review.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ review.start }}</td>
                    <td>{{ review.coment }}</td>
                    <td>{{ review.email }}</td>
                    <td>{{ review.public }}</td>
                    <td>
                        <a class="btn btn-danger"  href="{{ path('review_new', { 'id': review.id ,'id_prod':id_prod}) }}">edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
