<!-- Footer wrapper -->
<footer class="footer-wrapper footer-gray">
    <div class="container">
        <div class="row col-p30">
            <div class="col-sm-6 col-md-3">
                <div class="footer-widget clearfix">
                    <div class="hidden-xs hidden-small text-center  pt20" ><img src="{{asset('images/logo-footer@2x.png')}}" alt="J&JRattan" height="300" width="192" class="hidden-xs"><br><br></div>
                    <h3 class="footer-title ">{{'Get Social'|trans}}</h3>
                    <ul class="social-icon dark rounded text-center">
                        <li><a href="https://www.instagram.com/jjrattan" data-toggle="tooltip" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/JJRattan" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://plus.google.com/113600105196154706578" data-toggle="tooltip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://www.pinterest.com/jjrattan/" data-toggle="tooltip" title="Pintrest"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="footer-widget">
                    <h3 class="footer-title">{{'Quick Links'|trans}}</h3>
                    <div><a href="{{path('about')}}">{{'About Us'|trans}}</a></div>
                    <div><a href="{{path('faq')}}">{{'FAQs'|trans}}</a></div>
                    <div><a href="{{path('contact')}}">{{'Contact Us'|trans}}</a></div>
                    <div><a href="{{path('term')}}">{{'Terms and Conditions'|trans}}</a></div>
                    <div><a href="{{path('privacy')}}">{{'Privacy Policy'|trans}}</a></div>
                    <!-- Begin MailChimp Subscribe Form -->
                    <br><h3 class="footer-title">{{'SUBSCRIBE'|trans}}</h3>
                    <form action="//jjrattan.us7.list-manage.com/subscribe/post?u=f561302f20ac637ad457ed0f0&amp;id=6378d1f482" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id='subcrition' class="input">
                            <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="user@example.com" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f561302f20ac637ad457ed0f0_6378d1f482" tabindex="-1" value=""></div>
                            <input type="submit" value="{{'SUBMIT'|trans}}" name="subscribe" id="mc-embedded-subscribe" class="button_footer">
                        </div>
                    </form><!--End mc_embed_signup-->   
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="footer-widget">
                    <h3 class="footer-title">{{'CONTACT INFORMATION'|trans}}</h3>
                    <div>
                        <div><i class="fa icon_building"></i>&nbsp;J&J Rattan</div>
                        <div><a href="{{path('contact')}}#map" title="Store Address"><i class="fa fa-map-marker"></i>&nbsp;4738 SW 72nd Ave Miami FL 33155</a></div>
                        <div><i class="fa fa-phone"></i>&nbsp;305-666-7503</div>
                        <div><a href="mailto:info@jjrattan.com?Subject=JJRattan.com" target="_top"><i class="fa fa-envelope"></i>&nbsp;info@jjrattan.com</a></div>
                    </div>
                    <br>
                    <h3 style="margin-bottom: 10px;" class="footer-title">{{'STORE HOURS'|trans}}</h3>
                    <p>
                        {{'hour'|trans|raw}}
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="footer-widget">
                    <h3 class="footer-title">Instagram</h3>
                    <!-- LightWidget WIDGET -->
                    <script src="//lightwidget.com/widgets/lightwidget.js"></script>
                    <iframe src="//lightwidget.com/widgets/fef50bbdfac856d2abbc3b835fb156cc.html" id="lightwidget_fef50bbdfa" name="lightwidget_fef50bbdfa"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
                </div>
            </div>
        </div>
    </div>

  
</footer>

<footer class="footer-wrapper footer-simple">
    <div class="container">
        <div class="row col-p0">
            <div class="col-sm-9 col-sm-push-3 xs-box">
                <div class="clearfix">
                    <div class="pull-right xs-pull-left">
                        <p class="copyright ">{{'Welcome'|trans}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-sm-pull-9 pt10">
                <p class="copyright pt0">&copy; Copyright 2017 J&JRattan</p>
            </div>
        </div>
    </div>
</footer>
