<!-- Sidebar -->
<aside class="sidebar">
    <div class="sidebar-widget">
        <h3 class="sidebar-title br-bottom">{{'Get Social'|trans}}</h3>
        <ul class="sidebar-socials unstyled-list">
            <li><a href="https://www.instagram.com/jjrattan" data-toggle="tooltip" data-placement="right" target="blank" title="Instagram"><i class="fa fa-instagram"></i>{{'Follow us'|trans}}</a></li>
            <li><a href="https://www.facebook.com/JJRattan" data-toggle="tooltip" data-placement="right" target="_blank" title="Facebook"><i class="fa fa-facebook"></i>{{'Like us'|trans}}</a></li>
            <li><a href="https://plus.google.com/113600105196154706578" data-toggle="tooltip" data-placement="right" target="blank" title="Google Plus"><i class="fa fa-google-plus"></i>{{'Circle us'|trans}}</a></li>
            <li><a href="https://www.pinterest.com/jjrattan/" data-toggle="tooltip" data-placement="right" target="blank"  title="Pintrest"><i class="fa fa-pinterest"></i>{{'Follow us'|trans}}</a></li>
            <li><a href="http://jjrattan.us7.list-manage.com/subscribe/post?u=f561302f20ac637ad457ed0f0&id=6378d1f482" data-toggle="tooltip" data-placement="right" target="blank" title="@J&JRattan"><i class="fa fa-envelope"></i>{{'SUBSCRIBE'|trans}}</a></li>
        </ul>
    </div>
    <div class="sidebar-widget">
        <h3 class="sidebar-title br-bottom">{{'CONTACT INFORMATION'|trans}}</h3>
        <address class="sidebar-contact">
            <p><i class="fa icon_building"></i>&nbsp;J&J Rattan</p>
            <p><a href="{{path('contact')}}#map" title="Store Address"><i class="fa fa-map-marker"></i>&nbsp;4738 SW 72nd Ave Miami FL 33155</a></p>
            <p><i class="fa fa-phone"></i>&nbsp;305-666-7503</p>
            <p><a href="mailto:info@jjrattan.com?Subject=JJRattan.com" target="_top"><i class="fa fa-envelope"></i>&nbsp;info@jjrattan.com</a></p>
        </address>
    </div>
</aside>