<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{{path('category')}}"><i class="fa fa-archive fa-fw"></i> Categories</a>
            </li>
            <li>
                <a href="{{path('product_index')}}"><i class="fa fa-archive fa-fw"></i> Products</a>
            </li>
            <li>
                <a href="{{path('images_index')}}"><i class="fa fa-archive fa-fw"></i> Images</a>
            </li>
            <li>
                <a href="{{path('review_index',{id_prod:0})}}"><i class="fa fa-archive fa-fw"></i> Reviews</a>
            </li>
            <li>
                <a href="{{path('popularproduct_index')}}"><i class="fa fa-archive fa-fw"></i> Popular</a>
            </li>
            <li>
                <a href="{{path('clasification_index')}}"><i class="fa fa-archive fa-fw"></i>Clasification Of Question</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>