{% extends "MetronicBundle:Default:index.html.twig"%}
{% block content %}
    <a class="btn btn-default" href="{{path('clasification_index_metronic')}}" style="color: green"><i class="fa fa-arrow-left"></i> Go Back</a>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->

            <div class="portlet box red">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Question of {{clasification.clasification}}</div>
                    <div class="actions">
                        <a href="{{path('question_new_metronic',{id_clasification:clasification.id,id:0})}}" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> Add </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="table_manager">
                        <thead>
                            <tr>
                                <th>Sort</th>
                                <th>Question</th>
                                <th>Question (Spainish)</th>
                                <th>Response</th>
                                <th>Response (Spainish)</th>
                                <th style="width: 150px">Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script_execute %}
    <script>
        var table;
        $(document).ready(function () {

            {% if SAVE=='TRUE' %}
            success("The question was saved");
            {% endif %}

            table = $('#table_manager').DataTable({
                "lengthMenu": [
                [10, 20, 50],
                [10, 20, 50]// change per page values here
                ],
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{path('question_pagination_metronic')}}",
                    "type": "POST",
                    data:{
                    'id_clasification':{{id_clasification}}
                        }
                },
                "pageLength": 10,
                "order": [
                    [1, "asc"]
                ] // set first column as a default sort by asc
            });
        });
        function deleteAction(id) {
            bootbox.confirm("Are you sure?", function (result) {
                bPreguntar = false;
                if (result == true) {
                    App.blockUI({
                        target: ".portlet-body",
                        boxed: !0,
                        textOnly: !0,
                        message: "Delete..."
                    });
                    $.ajax({
                        method: "POST",
                        url: "{{path('question_delete_metronic')}}",
                        dataType: "JSON",
                        data: {
                            'id': id,
                        },
                        success: function (response) {
                            table.ajax.reload(null, false);
                            App.unblockUI(".portlet-body");
                        }
                    });
                }
            });
        }
    </script>
{% endblock %}